<owl-carousel-o [options]="customBanner" (dragging)="isDragging = $event.dragging">
    @for(item of banner_data; track item.card_logo_image_path) {
    <ng-container>
        <ng-template carouselSlide>
            <div class="banner-slider">
                <div class="container d-flex align-items-center">
                    <div class="banner-column w-50">
                        <div class="banner-title">
                            <h1>{{item.card_title}}</h1>
                        </div>
                        <div class="banner-description">
                            <p>{{item.card_description}}</p>
                        </div>
                        <div class="banner-list">
                            <ul>
                                @for(item of item.list; track item) {
                                <li>{{item}}</li>
                                }
                            </ul>
                        </div>
                        <div class="register-button spacer-medium">
                            <a mat-raised-button
                                href="https://cartlogin.getsetlearn.online/user/login?redirect=https:%2F%2Fcartlogin.getsetlearn.online%2Foauth%2Fauth%3Fclient_id%3DxDpc3GkZzfzBgwANYWlOEZ0is%26client_secret%3DVPG3J2ZxOWLZ0AyFxCk0woKLT%26redirect_uri%3Dhttps:%2F%2Fwww.getsetlearn.online%2Fcomplete%2Fauth%2F%26response_type%3Dcode%26scope%3Dpublic_profile"
                                class="btn-pink">Register for Free</a>
                        </div>
                    </div>
                    <div class="banner-column w-50">
                        <div class="banner-image">
                            <img [src]="item.card_logo_image_path" [alt]="item.card_title">
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-container>
    }
</owl-carousel-o>
<div class="container">
    <div class="partnerSLider">
        <owl-carousel-o [options]="customPartner" (dragging)="isDragging = $event.dragging">
            @for(item of partner_data; track $index) {
            <ng-container>
                <ng-template carouselSlide>
                    <div class="partner-image">
                        <img [src]="item.image" [alt]="item.name" width="120px" height="72px">
                    </div>
                </ng-template>
            </ng-container>
            }
        </owl-carousel-o>
    </div>
</div>
<div class="spacer-large"></div>
<div class="container">
    <div class="section-title text-center">
        <h2>
            Our courses
        </h2>
        <p>
            Pick courses designed for your grade and your board
        </p>
    </div>
    <div class="spacer-large"></div>
    <div class="filter-outer-block">
        <div class="filter_grades">  
            <mat-form-field appearance="outline">
                <mat-label>Grade</mat-label>
                <mat-select (selectionChange)="onGradeCategoryChange($event.value)">
                    <mat-option *ngFor="let category of gradeCategories | keyvalue" [value]="category.key">
                        {{ category.key }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
               
        </div>
        <div class="filter-block">
            <div class="filter-buttons-row scrollmenu">
                @for (course of filterCourses; track $index) {
                <button mat-raised-button class="single-btn" (click)="filterCourse(course)">{{course}}</button>
                }
            </div>
        </div>
    </div>
    <div class="spacer-large"></div>
    <div class="course-list-wrapper">
        <div class="course-list">
            <owl-carousel-o [options]="courseListing" (dragging)="isDragging = $event.dragging">
                @for (item of allCourses; track $index) {

                <ng-container>
                    <ng-template carouselSlide>
                        <div class="course-list-single">
                            <div class="course-detail">
                                <div class="course-detail-overlay"></div>
                                <div class="course-detail-inner">
                                    <div class="c-d-btn-block">
                                        <a mat-raised-button class="single-btn" (click)="gotoCourseDetail(item.data.id)">Course Detail</a>
                                        <br>
                                        <br>
                                        <a mat-raised-button class="single-btn">
                                            @if (item.data.course_price == 0) {
                                                Enroll Now
                                            }
                                            @else {
                                                Buy Now
                                            }
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-image">
                                <img class="img-responsive" [src]="item.data.image_url" alt="">
                                <span class="card-title">
                                    {{item.data.content_partner}}
                                </span>
                            </div>
                            <div class="card-content">
                                <div class="listingInfo">
                                    <div class="propertyStats">
                                        <p class="priceText"> {{item.data.category}}</p>
                                    </div>
                                    <div class="vcard">
                                        <h4>Your Listing Text Will be Replaced with This Text</h4>
                                        <div class="session-certification">
                                            <p class="listingLocation">
                                                <mat-icon>alarm</mat-icon>{{item.data.course_duration}}</p>
                                            @if (item.data.certificate == true) {
                                            <p class="listingLocation"><mat-icon>stars</mat-icon>Certification Available
                                            </p>
                                            }
                                        </div>
                                        <div class="course-cost text-right">
                                            @if (item.data.course_price == 0) {
                                            FREE
                                            }
                                            @else {
                                            ₹{{item.data.course_price}}
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action">
                                <div class="text-right">
                                    <a (click)="shareUrl(item.data.id)"
                                        target="new_blank"><mat-icon>share</mat-icon></a>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
                }

            </owl-carousel-o>
        </div>
    </div>
    <div class="spacer-large"></div>

    <div *ngIf="isPopupVisible" class="popup-box">
        <div class="popup-content">
            <h3>Share Course</h3>
            <input type="text" [value]="courseUrl" readonly>
            <!-- <button (click)="copyToClipboard()">Copy to Clipboard</button> -->
            <button (click)="copyToClipboard()">
                {{ isCopied ? 'Copied' : 'Copy' }}
              </button>
            <button (click)="closePopup()">Close</button>
        </div>
    </div>