#nk-content {
    padding-top: 90px;
}

#nk-content .background-Overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--black-color);
    z-index: 2;
    opacity: 0.3;
}