<div [ngClass]="headerClass">
    <div class="header-wrap" [ngClass]="{ scrolled : scrolled}" [ngClass]="toggleMenu ? 'nav-open' : ''">
        <div class="header-inner fl-box align-items-center h-100">
            <div class="logo-header h-100">
                <div class="logo">
                    <a routerLink="/">
                        <img width="" height="" src="assets/images/GSL-Logo.png" alt="GetSetLearn" class="img-responsive">
                    </a>
                </div>
                <ul id="main">
                    <li>Courses
                        <ul class="drop">
                            <div>
                                @for(item of navigationMenuItems; track item.name) {
                                    <li (click)="navigateToUrl(item.name)"><a>{{item.name}}</a></li>
                                }
                            </div>
                        </ul>
                    </li>
                    <div id="marker"></div>
                </ul>
            </div>
            <div class="nav-butn" (click)="clickEvent();" [ngClass]="toggleMenu ? 'clicked' : ''">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>
            <div class="header-right h-100">
                <div class="fixed_menu" [ngClass]="toggleMenu ? 'show-header' : ''">
                    <ul>
                        <li>
                            <a routerLink="/">Home</a>
                        </li>
                    </ul>
                </div>
                <div class="search-wrap-header">
                    <div class="searchbox-wrap">
                        <div class="w-100 fl-box srchwrap-inner">
                            <div class="search-block">
                                <input type="text" placeholder="Course Title or Keyword" [(ngModel)]="searchText"
                                    [ngClass]="inputExpanded ? 'expanded' : ''">
                                <button class="search-btn " (click)="toggleInput()">
                                    <img src="assets/images/search.svg" class="img-responsive" alt="search"
                                        width="30" height="30">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="menu">
                    <div class="menu-inner-wrap clearfix">
                        <div class="sub-nav-wrap fl-box fl-right">
                            <a href="https://cartlogin.getsetlearn.online/user/login?redirect=https:%2F%2Fcartlogin.getsetlearn.online%2Foauth%2Fauth%3Fclient_id%3DxDpc3GkZzfzBgwANYWlOEZ0is%26client_secret%3DVPG3J2ZxOWLZ0AyFxCk0woKLT%26redirect_uri%3Dhttps:%2F%2Fwww.getsetlearn.online%2Fcomplete%2Fauth%2F%26response_type%3Dcode%26scope%3Dpublic_profile" class="nav-item">
                                <span class="link">Login</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- <div class="" [ngClass]="addClass"></div>

<div class="open-dialog" *ngIf="loginDialog">
    <div class="open-dialog-position pos-rel">
        <div class="open-dialog-bg"></div>
        <app-login (closeClicked)="handleLoginClose($event)"></app-login>
    </div>
</div>

<div class="open-dialog" *ngIf="signupDialog">
    <div class="open-dialog-position pos-rel">
        <div class="open-dialog-bg"></div>
        <app-signup (closeClicked)="handleSignupClose($event)"></app-signup>
    </div>
</div> -->